header {
    display: grid;
    grid-template-columns: 1.1fr min-content 1fr;
    align-items: center;
    padding: 92px 86px 91px 50px;
}

.header__logo {
    display: block;
    width: 137px; 
}

.header__links-list {
    display: flex;
    justify-content: start;
    gap: 34px;
}

.header__links-list-item {
    list-style: circle;
    font-family: 'Raleway', sans-serif;
    font-size: 18px;
}

.list-properties {
    list-style: none;
}

.link-properties {
    text-decoration: none;
}

.text__accents {
    border-bottom: 1px solid black;
    padding: 0.5px;
}

.address {
    row-gap: 11px;
    font-family: 'Raleway', sans-serif;
    font-size: 18px;
    line-height: 136%;
}

.address__header {
    justify-self: end;
}

/* обложка */

.cover {
    background-image: url(../images/cover.jpg);
    background-repeat: no-repeat;
    background-position: center;
    min-height: 757px;
    background-size: cover;
    position: relative;
}

.overlay {
    position: absolute;
    inset: 0;
    background-color: rgba(0, 0, 0, 0.6);
    z-index: 1;
}

.cover__description {
    width: 100%;
    position: relative;
    display: flex;
    align-items: center;
    padding: 128px 40px 0px 78px;
    gap: 76px;
}

/* заголовок */

.cover__title {
    position: relative;
    z-index: 2;
    font-family: 'Raleway', sans-serif;
    font-weight: bold;
    font-size: 100px;
    text-transform: uppercase;
    color: white;
    padding: 164px 50px 7px;
    letter-spacing: 60px;
    display: grid;
    gap: 20px;
}

.cover__title:last-child {
    padding-bottom: 0px;
}

.aligned-text {
    display: block;
    text-align: left;
    line-height: 115%;
}

.aligned-text_center {
    display: block;
    text-align: center;
    line-height: 100%;
}

.aligned-text_right {
    display: block;
    text-align: right;
    line-height: 100%;
}

.no-letter-spacing {
    letter-spacing: normal;
}

.letter-spacing-extended {
    letter-spacing: 30px;
}

/* подзаголовок */

.cover__description-text {
    font-family: 'Raleway', sans-serif;
    font-weight: normal;
    font-size: 22px;
    color: white;
    text-transform: uppercase;
    word-spacing: 20px;
    position: relative;
    z-index: 3;
}

.word-spacing-description {
    word-spacing: 18px;
}

/* кнопка */

.bet-button {
    padding: 0;
    border: none;
    font-family: 'Raleway', sans-serif;
    font-size: 22px;
    text-transform: uppercase;
    color: white;
    background-color: transparent;
    border: solid 1px;
    padding: 12px 32px;
    position: relative;
    z-index: 4;
}

/* лоты */

.lots {    
    padding: 180px 24px 146px;
}

.lots__title {
    font-family: 'Raleway', sans-serif;
    font-size: 40px;
    font-weight: bold;
    text-transform: uppercase;
    padding: 0 0 25px 41px;
}

.lots__card-list {
    display: flex;
    flex-wrap: wrap;
    list-style-type: none;
    gap: 25px; 
}

.lots__card-list-item {
    width: 334px;
    min-height: 563px;
}

.card-link {
    position: relative;
    display: block;
    height: 100%;
    width: 100%;
    text-decoration: none;
}

.card {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
    width: 100%;
    background-size: cover;
    background-position: center;
}
.card_type_film {
    background-image: url("../images/card-lot-01.jpg");
}

.card_type_book {
    background-image: url("../images/card-lot-02.jpg");
}

.card_type_picture {
    background-image: url("../images/card-lot-03.jpg");
}

.card__title {
    font-family: 'Raleway', sans-serif;
    font-size: 22px;
    line-height: 1.2;
    font-weight: bold;
    text-decoration: underline;
    text-underline-offset: 3px;
    text-transform: uppercase;
    color: white;
    padding: 52px 40px 0px;
    position: relative;
    z-index: 2;
}

.card__text {
    font-family: 'Raleway', sans-serif;
    font-size: 20px;
    color: white;
    line-height: 1.2;
    padding: 0 40px 48px;
    position: relative;
    z-index: 3;
}

.lots__look-more-link {
    font-family: 'Raleway', sans-serif;
    font-weight: normal;
    font-size: 20px;
    display: inline-block;
    margin: 29px 40px;
}

.about {
    display: grid;
    grid-template-columns: 245px 1fr;
    justify-items: end;
    padding: 2px 0px 0px 69px;
}

.about__logo {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: black;
    height: 247px;
    width: 247px;
    border-radius: 50%;
    border: solid white;
}

.about__logo-image {
    width: 149px;
    height: 139px;
}

.about__column {
    grid-column: 2;
    width: 800px;
}

.about__title {
    padding: 104px 0px 100px 69px;
    font-family: 'Raleway', sans-serif;
    font-weight: bold;
    font-size: 40px;
    text-transform: uppercase;
}

.about__text {
    font-family: 'Raleway', sans-serif;
    font-size: 20px;
    padding: 0 60px 25px 70px;
    letter-spacing: 0.1px;
}

.about__text:last-child {
    padding-bottom: 0px;
    letter-spacing: 0.01px;
}

footer {
    padding: 180px 49px 88px 51px;
    display: flex;
    justify-content: space-between;
}

.footer__menu-list {
    padding-left: 38px;
    list-style-type: none;
    text-align: center;
    text-decoration: none;
    font-family: 'Raleway', sans-serif;
    font-size: 18px;
}

.footer__menu-list-item {
    text-decoration: underline;
    text-underline-offset: 4px;
}

.footer__menu-link_active {
    text-decoration: none;
}

.footer__social-list {
    display: flex;
    gap: 48px;
    list-style-type: none;
}

.footer__social-icon {
    width: 48px;
    height: 48px;
}